<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dyanamic Stock Management</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"
		></script>
		<link rel=stylesheet type=text/css href="/stylesheets/landing.css">
		<script
			src="https://kit.fontawesome.com/b32f384ef6.js"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/script/parallax.js"></script>
	</head>

	<body>
		<section id="about-main">
			<nav
				class="navbar fixed-top navbar-dark bg-dark navbar-expand-md navbar-main"
				id="nav-bar">
				<div class="container">
					<div>
						<a href="/" class="navbar-brand nav-item">Dynamic Stock Management</a>
					</div>

					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<i class="fas fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							
							<ul class="nav navbar-nav navbar-right">
                    			<% if(!currentUser){ %>
                        			<li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
									<li class="nav-item">
										<a class="nav-link" href="/login">Login</a>
									</li>
                    			<% } else { %>
                        			<li class="nav-item">
										<a class="nav-link" href="/profile">Hi <%=currentUser.username%></a>
									</li>
                        			<li class="nav-item">
										<a class="nav-link" href="/logout">Logout</a>
									</li>
                    			<% } %>
                			</ul>			
							
							<li class="nav-item">
								<a class="nav-link" href="/#contact">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div
				class="text-center about-info-container parallax-window"
				data-parallax="scroll"
				data-image-src="https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1080">
				<div class="jumbotron">
					<section id="reveal">
						<h2>
							<div id="reveal1" class="about-info-title">
								DYNAMIC STOCK
								<span id="reveal2">MANAGEMENT</span>
							</div>
						</h2>
					</section>

					<p class="about-info-subtitle">
						A Solution needed for every working household 
					</p>
				</div>
			</div>

			<div class="info-main">
				<a class="text-center tm-down-arrow-link">
					<i class="fas fa-chevron-circle-down fa-4x"></i>
				</a>
			</div>
		</section>

	<div data-image-src="https://images.unsplash.com/photo-1493305457700-d3d24daf8c8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80">
		<section id="about-body" class="about-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img
							src="https://d38cf3wt06n6q6.cloudfront.net/tyasuitefront/webgpcs/images/erp-inventory-management.png"
							alt="Image"
							class="img-fluid img-about"
						/>
					</div>
					<div class="col-lg-6">
						<div class="about-text-container text-center">
							<h2 class="content-heading">Introduction</h2>
							<p class="content">
								Welcome to our capstone project which is dynamic stock Management system
							</p>
						</div>
					</div>
				</div>
				<% if(!currentUser){ %>
				<div id="about-login" class="row about-bottom text-center">
					<div class="col-lg-6">
						<i class="fas fa-user-plus fa-5x ico-logo"></i>
						<h4 class="text-center content-heading">New User</h4>
						<p>Get started with a new account</p>
						<div class="about-next">
							<a href="/signup" class="btn button">Sign Up</a>
						</div>
					</div>
					<div class="col-lg-6 mt-5 mt-lg-0">
						<i class="fas fa-user fa-5x ico-logo"></i>
						<h4 class="text-center content-heading">Welcome Back</h4>
						<p>Log in to an existing account</p>
						<div class="about-next">
							<a href="/login" class="btn button">Login</a>
						</div>
					</div>
				</div>
				<% } %>
		</section>
	</div>

		<section id="contact" class="contact-main">
			<div
				class="parallax-window"
				data-parallax="scroll"
				data-image-src="https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80"
			>
				<div class="container tm-container-contact jumbotron">
					<div class="col-lg-12">
						<h2 class="mb-4 tm-section-title content-heading">Contact Us</h2>
						<div class="mb-5 tm-underline">
							<div class="tm-underline-inner"></div>
						</div>
						<p class="mb-5">
							For any queries related to the website  please use the modes below for communication.
						</p>
					</div>

					<div class="contact-info row">
						<div class="col-lg-6 linker">
							<p><strong>Shubham raj</strong></p>
							<p>
								<a href="mailto:put your email here">
									<i class="fas fa-envelope fa-3x"></i>
									<br />
									email
								</a>
							</p>
							
							<p>
								<a href="tel:+91-number here">
									<i class="fas fa-phone fa-3x"></i>
								<br /><br />
								Number
									<br>
								</a>
							</p>
						</div>
						<div class="col-lg-6 linker">
							<p><strong>Telwin Risha Dsouza</strong></p>
							<p>
								<a href="mailto:your email">
									<i class="fas fa-envelope fa-3x"></i>
									<br />
									your email
								</a>
							</p>
							
							<p>
								<a href="tel: number here">
									<i class="fas fa-phone fa-3x"></i>
									<br /><br>
									Number									
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<script>
			$(".fa-chevron-circle-down").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-body").offset().top,
					},
					"slow"
				);
			});
			$(".navbar-brand").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-main").offset().top,
					},
					"slow"
				);
			});
			$(".about").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-body").offset().top,
					},
					"slow"
				);
			});
			$(".login").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#about-login").offset().top,
					},
					"slow"
				);
			});
			$(".contact").click(function () {
				$("html,body").animate(
					{
						scrollTop: $("#contact").offset().top,
					},
					"slow"
				);
			});
		</script>
		
	</body>
</html>
